/* =====================
          colors
   ===================== */

:root {
    supported-color-schemes: light dark; /* legacy syntax */
    color-scheme: light dark; /* new syntax */
    --heading-color: #93598f;
    --text-color: #7a4b77;
    --text-color-alt: #a675a3;
    --link-color: #b947b2;
    --section-color: #ecd0eb;
    --section-color-alt: #efd8ed;
    --accent-color: #e0bbdb;
    --accent-color-alt: #cda2c6;
    --box-shadow: 0 .25em .4em rgba(0, 0, 0, .1);
}

:root.is-dark-mode {
    --heading-color: #ffffff;
    --text-color: #d9e2f4;
    --text-color-alt: #b8c0cf;
    --link-color: #8cabe6;
    --section-color: #071022;
    --section-color-alt: #121b2e;
    --accent-color: #313e59;
    --accent-color-alt: #596e96;
    --box-shadow: 0 .5em 1em rgba(0, 0, 0, .3);
}

@media (prefers-color-scheme: dark) {

    /* :root {
        --heading-color: #ffffff;
        --text-color: #d9e2f4;
        --text-color-alt: #b8c0cf;
        --link-color: #8cabe6;
        --section-color: #071022;
        --section-color-alt: #121b2e;
        --accent-color: #313e59;
        --accent-color-alt: #596e96;
        --box-shadow: 0 .5em 1em rgba(0, 0, 0, .3);
    } */

}

/* =====================
          basics
   ===================== */

/* prevent adjustment of font size after orientation change in iOS */
html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
}

@media screen and (max-width: 800px) {

    body {
        font-size: 1rem;
    }

}

h1,
h2,
h3,
h4 {
    font-family: 'PT Serif', 'Palatino', 'Georgia', serif;
    font-weight: bold;
    color: var(--heading-color);
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

p,
li,
.byline {
    line-height: 1.6;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* ------------------
        sections
   ------------------ */

.yir-section {
    background-color: var(--section-color);
}

.yir-section:nth-child(even) {
    background-color: var(--section-color-alt);
}

.yir-container {
    max-width: 52rem;
    margin: 0 auto;
    padding: 8em 7vw;
}

@media screen and (max-width: 800px) {

    .yir-container {
        padding: 6em 5vw;
    }

}

.byline {
    color: var(--text-color-alt);
    font-size: .85em;
    margin: 0;
}

/* ------------------
         title
   ------------------ */

.title {
    text-align: center;
    height: 100vh;
    display: flex;
}

.is-dark-mode .title {
    /* background-image: linear-gradient(var(--section-color), var(--section-color-alt)); */
}

@media screen and (max-width: 800px) {

    .title {
        max-height: 70vmax;
    }

}

.title h1 {
    font-size: initial;
    margin: auto;
}

@keyframes gamers-rise-up {

    from {
          opacity: 0;
          transform: translateY(30px);
    }

    to {
          opacity: 1;
          transform: translateY(0);
    }

}

.title-big {
    font-size: 35vmin;
    margin: -9vmin 0;
    animation: 1s .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both gamers-rise-up;
}

.title-small {
    color: var(--text-color);
}

.title-small:first-of-type {
    font-size: 9vmin;
    animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both gamers-rise-up;
}

.title-small:last-of-type {
    font-size: 11vmin;
    animation: .9s .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both gamers-rise-up;
}

/* -------------------
        dark mode
   ------------------- */

/* modified from <https://blog.jim-nielsen.com/2018/icon-galleries-dark-mode/> */

#dark-mode-toggle {
    position: fixed;
    top: .75em;
    right: .75em;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);
    border-radius: 7px;
    cursor: pointer;
}

#dark-mode-toggle .svg-moon {
    width: 17px;
    height: 17px;
    fill: transparent;
    stroke: var(--text-color-alt);
    stroke-width: 2px;
    transition: fill .3s ease, stroke .3s ease;
}

#dark-mode-toggle:hover .svg-moon {
    stroke: var(--text-color);
}

.is-dark-mode #dark-mode-toggle .svg-moon {
    fill: var(--text-color-alt);
    stroke: var(--text-color-alt);
}

.is-dark-mode #dark-mode-toggle:hover .svg-moon {
    fill: var(--text-color);
    stroke: var(--text-color);
}

/* ------------------
        traffic
   ------------------ */

.traffic-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 4em;
}

.traffic-heading {
    width: 100%;
    margin-top: 3em;
}

.traffic-stats .stat {
    flex: 1;
    margin-right: 1em;
}

@media screen and (max-width: 420px) {

    .traffic-stats .stat {
        flex: 1 100%;
    }

}

.traffic-stats .stat dd {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 -0.15em;
}

.traffic-stats .stat.before dd {
    color: #f7861b;
}

.traffic-stats .stat.after dd {
    color: #6bc71f;
}

.traffic img {
    width: 100%;
    margin: 2em 0 1em;
}

/* ------------------
        popular
   ------------------ */

.popular-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2.5em;
}

.popular-title {
    flex: 1 100%;
    margin-bottom: .75em;
}

.popular-pages {
    flex: 1;
    background: var(--section-color-alt);
    padding: 1.25em 1.5em;
    box-shadow: var(--box-shadow);
    border-radius: .25em;
}

.popular-pages + .popular-pages {
    margin-left: 1em;
}

.popular-pages ol {
    font-size: .95em;
    margin: .5em 0 0;
    padding-left: 2em;
}

.popular-pages h4 {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

@media screen and (max-width: 550px) {

    .popular-group {
        display: block;
    }

    .popular-pages + .popular-pages {
        margin-left: 0;
        margin-top: 1em;
    }

}

/* ------------------
         wikis
   ------------------ */

.wiki-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.wiki {
    background-color: var(--accent-color);
    width: calc((100% - .75em) / 2);
    padding: 1.5em 2em;
    border-radius: .25em;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    transition: .2s ease-in-out;
}

.wiki h3,
.wiki .byline {
    color: white;
}

.wiki:hover {
    text-decoration: none;
    transform: translateY(-0.15em);
}

@media screen and (max-width: 800px) {

    .wiki {
        width: 100%;
    }

    .wiki + .wiki {
        margin-top: 3vw;
    }

}

/* prevent "Portuguese-Brazilian RuneScape Wiki"  from wrapping onto three lines */
@media screen and (min-width: 800px) and (max-width: 850px) {

    .wiki {
        padding: 1.25em 1.5em;
    }

}

.wiki.ptbr {
    background-image: linear-gradient(to top, rgba(0,0,0,.65), rgba(0,0,0,.4)), url('../images/Wiki-PTBR.jpg');
    background-size: cover;
}

.wiki.classic {
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.25)), url('../images/Wiki-Classic.png');
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .wiki.ptbr {
        background-image: linear-gradient(to top, rgba(0,0,0,.65), rgba(0,0,0,.4)), url('../images/Wiki-PTBR@2x.jpg');
    }

    .wiki.classic {
        background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.25)), url('../images/Wiki-Classic@2x.png');
    }

}

/* ------------------
       milestones
   ------------------ */

.milestone-list {
    position: relative;
    list-style: none;
    padding: 30px 0 10px 67px;
}

.milestone-list::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 35px;
    width: 4px;
    height: calc(100% - 5px);
    /*  fade in the ends of the line using pixel values (instead of percentages)
        with help from <https://stackoverflow.com/a/30425097> */
    background:
        linear-gradient(to bottom, var(--section-color), var(--accent-color) 30px) top no-repeat,
        linear-gradient(to top, var(--section-color), var(--accent-color) 40px) bottom no-repeat;
    background-size: 100% 50%;
}

.milestone-list h3 + p {
    margin-top: .5em;
}

.milestone-list li {
    position: relative;
}

.milestone-list li + li {
    margin-top: 2.5em;
}

.milestone-list li::before {
    position: absolute;
    top: 36px;
    left: -44px;
    content: "";
    width: 17px;
    height: 17px;
    background-color: var(--accent-color-alt);
    border: 5px solid var(--section-color);
    border-radius: 50%;
}

@media screen and (max-width: 800px) {

    .milestone-list {
        margin-left: -1em;
    }

    .milestone-list li::before {
        top: 25px;
    }

}

/* ------------------
        editors
   ------------------ */

.editor-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1em 0 0;
}

.editor-stats .stat {
    width: 30%;
    margin: 1.5em 1em 0 0;
}

@media screen and (min-width: 800px) {

    .editor-stats .stat:nth-child(3n) {
        margin-right: 0;
    }

}

.editor-stats .stat dd {
    color: #3ea6e6;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 -0.15em;
}

/* ------------------
          irl
   ------------------ */

.irl-trip {
    margin: 3.5em 0 0;
}

.irl-gallery {
    display: grid;
    grid-gap: .7em;
    margin-top: 1.5em;
}

@media screen and (min-width: 500px) {

    .irl-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1024px) {

    .irl-gallery {
        grid-template-columns: repeat(3, 1fr);
        margin: 1.5em -3em 0;
    }

}

.irl-gallery img {
    width: 100%;
    border-radius: .2em;
    box-shadow: var(--box-shadow);
    transition: .2s ease-in-out;
}

.irl-gallery img:hover {
    transform: scale(1.01);
}